{{#partial 'body'}}
	<section class="grid md:grid-cols-2 items-start *:md:sticky-below-header gap-x-12 gap-y-6">
		<figure>
			{{#each product.images}}
				<img
					class="w-full aspect-square object-contain"
					src="{{getImageSrcset this 1x='450w'}}"
					alt="{{this.alt}}"
					width="450"
					height="450"
					loading="{{#if @index}}lazy{{else}}eager{{/if}}"
				>
			{{/each}}
		</figure>

		<article>
			<h1 class="h1">{{product.title}}</h1>
		</article>
	</section>
{{/partial}}

{{> layout/base}}
