{{#partial 'body'}}
  <section class="section">
    <h1 class="h1">Login</h1>

    <form
      class="[&_input]:input"
      action="{{urls.auth.check_login}}"
      method="post"
    >
      <input id="login_email" name="login_email" type="email" placeholder="Email" />
      <input id="login_pass" name="login_pass" type="password" autocomplete="off" placeholder="Password" />

      <input class="action" type="submit" value="Submit">

      <a class="link" href="{{urls.auth.forgot_password}}">Forgot password?</a>
    </form>
  </section>
{{/partial}}

{{> layout/base}}
